
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <div class="page-title">
                <h4 class="mb-0 font-size-18">Diiwaangalinta Border Cusub</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Border</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Diiwaangalinta</li>
                </ol>
            </div>

            <div class="state-information d-none d-sm-block">
                <div class="state-graph">
                    <div id="header-chart-1" data-colors='["--bs-primary"]'></div>
                    <div class="info"> </div>
                </div>
                <div class="state-graph">
                    <div id="header-chart-2" data-colors='["--bs-warning"]'></div>
                    <div class="info"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Fadlan Buuxi Formka</h4>
                        <p class="card-title-desc">Here are examples of <code>.form-control</code>
                            applied
                            to each textual HTML5 <code>&lt;input&gt;</code> <code>type</code>.</p>

                       
                        <!-- End Row -->
                        <div class="mb-3 row">
                            <label for="example-search-input"
                                class="col-md-2 col-form-label">ID CardName</label>
                            <div class="col-md-10">
                                <input class="form-control" name="idCardNo" type="text" required value=""
                                    id="example-search-input">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="example-date-input" class="col-md-2 col-form-label">Expire Date</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" name="expireDate" required value=""
                                    id="example-date-input">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="example-search-input"
                                class="col-md-2 col-form-label">User State</label>
                            <div class="col-md-10">
                                <input class="form-control" name="userState" placeholder="Xaalada Userka" type="text"  value=""
                                    id="example-search-input">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="example-search-input"
                                class="col-md-2 col-form-label">User Address</label>
                            <div class="col-md-10">
                                <input class="form-control" name="userAddress" placeholder="Addresska Shaqsiga" type="text" required value=""
                                    id="example-search-input">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="example-datetime-local-input"
                                class="col-md-2 col-form-label">Entering Date
                                </label>
                            <div class="col-md-10">
                                <input class="form-control" name="enteringDate" type="datetime-local"
                                    value="2019-08-19T13:45:00" id="example-datetime-local-input">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="example-search-input"
                                class="col-md-2 col-form-label">Nationality</label>
                            <div class="col-md-10">
                                <input class="form-control" name="nationality" placeholder="Dhalasahada Shaqsiga" type="text" required value=""
                                    id="example-search-input">
                            </div>
                        </div>
                        <!-- fingerPrintCD -->
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Alaabaadka Shaqsiga</label>
                            <div class="col-md-10">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option>Large select</option>
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>

                        <!-- End Row -->
                     
                      
                    </div>
                    <!-- End Cardbody -->
                </div>
                <!-- End Card -->
            </div>
            <!-- end col -->
        </div>
    </div>
</div>
{% endblock %}